<h1>Edit Movie #<%= @movie.id %></h1>

<form action = "/update_movie/<%= @movie.id %>">
  <div>
    <label for="title">
      Title
    </label>
    <div>
      <input type="text" id="title" name="title" placeholder="Title" value="<%= @movie.title %>">
    </div>
  </div>

  <div>
    <label for="year">
      Year
    </label>
    <div>
      <input type="text" id="year" name="year" placeholder="Year" value="<%= @movie.year %>">
    </div>
  </div>

<div>
  <label for="duration">
    Duration
  </label>
  <div>
    <input type="text" id="duration" name="duration" placeholder="Duration" value="<%= @movie.duration %>">
  </div>
</div>

  <div>
    <label for="description">
      Description
    </label>
    <div>
      <textarea id="description" name="description" placeholder="Description">
        <%= @movie.description %>
      </textarea>
    </div>
  </div>

  <div>
    <label for="image_url">
      Image URL
    </label>
    <div>
      <input type="text" id="image_url" name="image_url" placeholder="Image URL" value="<%= @movie.image_url %>">
    </div>
  </div>

  <div>
    <div>
      <input type="submit" value="Update Movie">
    </div>
  </div>

</form>
